{% extends "layouts/signed_out.html" %}

{% block title %}密码重置{% endblock %}
{% block content %}
<h2>密码重置</h2>
<div class="row">
  <div class="col-md-6" style="">
      <hr>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
            <div class="alert alert-danger" role="alert">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <form role="form" method="post" name="invite">
      <div class="form-group">
        <label for="password">输入您的新密码:</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="请输入密码">
      </div>
      <button type="submit" class="btn btn btn-primary">更改我的密码</button>
    </form>
  </div>
</div>
{% endblock %}
