<div class="container">
  <page-header title="查询"></page-header>
  <tab-nav tabs="$ctrl.tabs"></tab-nav>

  <div class="bg-white">
    <table class="table table-condensed table-hover">
      <thead>
      <tr>
        <th>名称</th>
        <th>创建人</th>
        <th>更新时间</th>
        <th>运行时间</th>
        <th>上次执行时间</th>
        <th>更新计划</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="query in $ctrl.paginator.getPageRows()">
        <td><a href="queries/{{query.id}}">{{query.name}}</a> <span class="label label-default" ng-if="query.is_draft">未发布</span></td>
        <td>{{query.user.name}}</td>
        <td>{{query.created_at | dateTime}}</td>
        <td>{{query.runtime | durationHumanize}}</td>
        <td>{{query.retrieved_at | dateTime}}</td>
        <td>{{query.schedule | scheduleHumanize}}</td>
      </tr>
      </tbody>
    </table>
    <paginator paginator="$ctrl.paginator"></paginator>
  </div>
</div>
