version: '2'
services:
  server:
    build: .
    restart: always
    command: server
    depends_on:
      - postgres
      - redis
    ports:
      - "5000:5000"
    environment:
      PYTHONUNBUFFERED: 0
      REDASH_HOST: http://127.0.0.1:5000
      REDASH_LOG_LEVEL: INFO
      REDASH_REDIS_URL: redis://redis:6379/0
      REDASH_DATABASE_URL: postgresql://postgres@postgres/postgres
      REDASH_COOKIE_SECRET: veryverysecret
      REDASH_WEB_WORKERS: 4
  worker:
    build: .
    restart: always
    command: scheduler
    environment:
      PYTHONUNBUFFERED: 0
      REDASH_LOG_LEVEL: INFO
      REDASH_REDIS_URL: redis://redis:6379/0
      REDASH_DATABASE_URL: postgresql://postgres@postgres/postgres
      QUEUES: queries,scheduled_queries,celery
      WORKERS_COUNT: 2
  redis:
    image: redis:alpine
    restart: always
  postgres:
    image: postgres:alpine
    restart: always
    volumes:
      - ./data/postgres/data:/var/lib/postgresql/data
