<settings-screen>
  <email-settings-warning function="'invite emails'"></email-settings-warning>

  <h3 class="p-l-5">{{user.name}}</h3>

  <ul class="tab-nav">
    <rd-tab tab-id="profile" name="简介" ng-click="selectTab('profile')"></rd-tab>
    <rd-tab tab-id="apiKey" name="API Key" ng-click="selectTab('apiKey')" ng-if="user.api_key"></rd-tab>
    <rd-tab tab-id="settings" name="设置" ng-click="selectTab('settings')" ng-if="showSettings"></rd-tab>
    <rd-tab tab-id="password" name="密码" ng-click="selectTab('password')" ng-if="showPasswordSettings"></rd-tab>
  </ul>

  <div ng-show="selectedTab == 'profile'" class="p-10">
    <p>
      <img ng-src="{{user.gravatar_url}}"/>
    </p>

    <p>
      <strong>{{user.name}}</strong>
    </p>

    <p>
      {{user.email}}
    </p>
    <div ng-if="currentUser.isAdmin">
      <hr/>
      <div class="form-group">
        <button class="btn btn-default" ng-click="sendPasswordReset()" ng-disabled="disablePasswordResetButton">
          发送密码重置邮件
        </button>
      </div>

      <div ng-if="passwordResetLink" class="alert alert-success">
        <p ng-if="!clientConfig.mailSettingMissing">
          <strong>用户将收到一封重置密码邮件</strong>
        </p>
        <p ng-if="clientConfig.mailSettingsMissing">
          你没有配置邮件服务，请发送以下链接
          给用户 {{user.name}} 来重置密码:<br/>
          <a ng-href="passwordResetLink">{{passwordResetLink}}</a>
        </p>
      </div>
    </div>
  </div>
  <div ng-show="selectedTab == 'apiKey'" class="p-10">
    API Key:
    <input type="text" value="{{user.api_key}}" size="44" readonly/>
  </div>
  <div ng-show="selectedTab == 'settings'" class="p-10">
    <div class="col-md-6">
      <form class="form" name="userSettingsForm" ng-submit="updateUser(userSettingsForm)" novalidate>
        <div class="form-group required" ng-class="{ 'has-error':  (userSettingsForm.name | showError:userSettingsForm )}">
          <label class="control-label">姓名</label>
          <input name="name" type="text" class="form-control" ng-model="user.name" required/>
          <error-messages input="userSettingsForm.name" form="userSettingsForm"></error-messages>
        </div>
        <div class="form-group required" ng-class="{ 'has-error':  (userSettingsForm.email | showError:userSettingsForm )}">
          <label class="control-label">邮箱</label>
          <input name="email" type="email" class="form-control" ng-model="user.email" required/>
          <error-messages input="userSettingsForm.email" form="userSettingsForm"></error-messages>
        </div>
        <div class="form-group">
          <button class="btn btn-primary">保存</button>
        </div>
      </form>
    </div>
  </div>
  <div ng-show="selectedTab == 'password'" class="p-10">
    <div class="col-md-6">
      <form class="form" name="userPasswordForm" ng-submit="savePassword(userPasswordForm)" novalidate>
        <div class="form-group required" ng-class="{ 'has-error':  (userPasswordForm.currentPassword | showError:userPasswordForm )}">
          <label class="control-label">当前密码</label>
          <input name="currentPassword" class="form-control" type="password" ng-model="password.current" required/>
          <error-messages input="userPasswordForm.currentPassword" form="userPasswordForm"></error-messages>
        </div>
        <div class="form-group required" ng-class="{ 'has-error':  (userPasswordForm.newPassword | showError:userPasswordForm )}">
          <label class="control-label">新密码</label>
          <input name="newPassword" class="form-control" type="password" ng-model="password.new" ng-minlength="6"
                 required/>
          <error-messages input="userPasswordForm.newPassword" form="userPasswordForm"></error-messages>
        </div>
        <div class="form-group required" ng-class="{ 'has-error':  (userPasswordForm.passwordRepeat | showError:userPasswordForm )}">
          <label class="control-label">重复新密码</label>
          <input name="passwordRepeat" class="form-control" type="password" ng-model="password.newRepeat"
                 compare-to="password.new"/>
          <span class="help-block error"
                ng-if="userPasswordForm.passwordRepeat.$error.compareTo">密码不一致</span>
        </div>
        <div class="form-group">
          <button class="btn btn-primary">保存</button>
        </div>
      </form>
    </div>
  </div>
</settings-screen>
