<settings-screen>
  <div class="">
    <form name="snippetForm" class="form">
      <div class="form-group">
        <label>触发</label>
        <input type="string" class="form-control" ng-model="$ctrl.snippet.trigger" ng-disabled="!$ctrl.canEdit" required>
      </div>

      <div class="form-group">
        <label>描述</label>
        <input type="string" class="form-control" ng-model="$ctrl.snippet.description" ng-disabled="!$ctrl.canEdit">
      </div>

      <div class="form-group">
        <label>片段</label>
        <pre ng-if="!$ctrl.canEdit">{{$ctrl.snippet.snippet}}</pre>
        <div ui-ace="$ctrl.editorOptions" ng-model="$ctrl.snippet.snippet" style="height:300px" ng-if="$ctrl.canEdit"></div>
      </div>

      <div class="form-group" ng-if="$ctrl.canEdit">
        <button class="btn btn-primary" ng-disabled="!snippetForm.$valid" ng-click="$ctrl.saveChanges()">保存</button>
        <button class="btn btn-danger" ng-if="$ctrl.snippet.id" ng-click="$ctrl.delete()">删除</button>
      </div>
      <small ng-if="$ctrl.snippet.user">
        创建人: {{$ctrl.snippet.user.name}}
      </small>
    </form>
  </div>
</settings-screen>
