<page-header title="设置">
</page-header>

<div class="container">
  <div class="container bg-white p-5">
    <ul class="tab-nav">
      <li ng-class="{'active': dsPage }" ng-if="showDsLink"><a href="data_sources">数据源</a></li>
      <li ng-class="{'active': usersPage }" ng-if="showUsersLink"><a href="users">用户</a></li>
      <li ng-class="{'active': groupsPage }" ng-if="showGroupsLink"><a href="groups">分组</a></li>
      <li ng-class="{'active': destinationsPage }" ng-if="showDestinationsLink"><a href="destinations">警报目标</a></li>
      <li ng-class="{'active': snippetsPage }" ng-if="showQuerySnippetsLink"><a href="query_snippets">查询片段</a></li>
    </ul>

    <div ng-transclude>

    </div>
  </div>
</div>
