<page-header title='{{$ctrl.alert.name || $ctrl.getDefaultName() || "新建报警" }}'>
</page-header>

<div class="container">
  <email-settings-warning function="'alert emails'"></email-settings-warning>

  <div class="container">
    <div class="row bg-white p-10">
      <div class="col-md-8">
        <form name="alertForm" class="form">
          <div class="form-group">
            <label>查询</label>
            <ui-select ng-model="$ctrl.alert.query" reset-search-input="false" on-select="$ctrl.onQuerySelected($item)" ng-disabled="!$ctrl.canEdit">
              <ui-select-match placeholder="按查询名称查找">{{$select.selected.name}}</ui-select-match>
              <ui-select-choices repeat="q in $ctrl.queries"
                                 refresh="$ctrl.searchQueries($select.search)"
                                 refresh-delay="0">
                <div ng-bind-html="$ctrl.trustAsHtml(q.name | highlight: $select.search)"></div>
              </ui-select-choices>
            </ui-select>
          </div>

          <div class="form-group" ng-show="$ctrl.selectedQuery">
            <label>名称</label>
            <input type="string" placeholder="{{$ctrl.getDefaultName()}}" class="form-control" ng-model="$ctrl.alert.name" ng-disabled="!$ctrl.canEdit">
          </div>

          <div ng-show="$ctrl.queryResult" class="form-horizontal">
            <div class="form-group">
              <label class="control-label col-md-2">字段</label>
              <div class="col-md-4">
                <select ng-options="name for name in $ctrl.queryResult.getColumnNames()" ng-model="$ctrl.alert.options.column"
                        class="form-control" ng-disabled="!$ctrl.canEdit"></select>
              </div>
              <label class="control-label col-md-2">值</label>
              <div class="col-md-4">
                <p class="form-control-static">{{$ctrl.queryResult.getData()[0][$ctrl.alert.options.column]}}</p>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-2">条件</label>
              <div class="col-md-4">
                <select ng-options="name for name in $ctrl.ops" ng-model="$ctrl.alert.options.op" class="form-control" ng-disabled="!$ctrl.canEdit"></select>
              </div>
              <label class="control-label col-md-2">参考</label>
              <div class="col-md-4">
                <input type="number" step="any" class="form-control" ng-model="$ctrl.alert.options.value" placeholder="reference value" ng-disabled="!$ctrl.canEdit"
                       required/>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-2">重新启动</label>
              <div class="col-md-4">
                <input type="number" class="form-control" ng-model="$ctrl.alert.rearm" ng-disabled="!$ctrl.canEdit"/>
              </div>
            </div>
          </div>

          <div class="form-group" ng-if="$ctrl.canEdit">
            <button class="btn btn-primary" ng-disabled="!alertForm.$valid" ng-click="$ctrl.saveChanges()">保存</button>
            <button class="btn btn-danger" ng-if="$ctrl.alert.id" ng-click="$ctrl.delete()">删除</button>
          </div>
        </form>
      </div>
      <div class="col-md-4" ng-if="$ctrl.alert.id">
        <alert-subscriptions alert-id="$ctrl.alert.id"></alert-subscriptions>
      </div>
    </div>
  </div>
</div>
