<div class="modal-header">
    <button type="button" class="close" aria-label="Close" ng-click="$ctrl.close()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">嵌入码</h4>
</div>
<div class="modal-body">
    <h5>iframe嵌入</h5>
    <div>
      <code>&lt;iframe src="{{ $ctrl.embedUrl }}" width="720" height="391"&gt;&lt;/iframe&gt;</code>
    </div>
    <span class="text-muted">(高度可自行调整)</span>
    <div ng-if="snapshotUrl">
      <h5>图片嵌入</h5>
      <div>
        <code style="overflow-wrap:break-word;">{{snapshotUrl}}</code>
      </div>
    </div>
</div>
