<div class="container">
  <overlay ng-if="canCreateQuery === false && query.isNew()">
    您没有权限在任何可用的数据源上创建新查询。你也可以 <a
    href="queries">浏览现有查询</a>, 或联系管理员开通权限.
  </overlay>
  <overlay ng-if="noDataSources && currentUser.isAdmin">
    看起来还没有创建数据源（或者没有任何一个数据源可用）。请先创建一个，然后开始查询。
    <br/>
    <a href="data_sources/new" class="btn btn-primary">添加数据源</a> <a href="groups" class="btn btn-default">管理群组权限</a>
  </overlay>
  <overlay ng-if="noDataSources && !currentUser.isAdmin">
    看起来还没有创建数据源（或者没有任何一个数据源可用）。请联系管理员开通权限.
  </overlay>

  <alert-unsaved-changes ng-if="canEdit" is-dirty="isDirty"></alert-unsaved-changes>

  <div class="row bg-white p-10 m-b-10">
    <div class="col-sm-9">
      <h3>
        <edit-in-place editable="canEdit" done="saveName" ignore-blanks="true" value="query.name"></edit-in-place>
        <span class="label label-default" ng-if="query.is_draft && !query.is_archived">未发布</span>
        <span class="label label-warning" ng-if="query.is_archived" uib-popover="该查询归档，不能用在仪表盘上，而不会出现在搜索结果中。" popover-placement="right" popover-trigger="'mouseenter'">归档</span>
      </h3>
      <p>
        <em>
          <edit-in-place editable="canEdit"
                         done="saveDescription"
                         editor="textarea"
                         placeholder="没有描述"
                         ignore-blanks='false'
                         value="query.description"
                         markdown="true">
          </edit-in-place>
        </em>

      <ul class="list-inline m-t-20">
        <li>
          <span class="zmdi zmdi-account"></span>
          <span class="text-muted">创建人</span>
          <strong>{{query.user.name}}</strong>
        </li>
        <li ng-if="query.last_modified_by && query.user.id != query.last_modified_by.id">
          <span class="zmdi zmdi-account"></span>
          <span class="text-muted">上次修改人</span>
          <strong>{{query.last_modified_by.name}}</strong>
        </li>
        <li>
          <span class="zmdi zmdi-time"></span>
          <span class="text-muted">更新时间</span>
          <strong>
            <rd-time-ago value="query.updated_at"></rd-time-ago>
          </strong>
        </li>
        <li>
          <span class="zmdi zmdi-time"></span>
          <span class="text-muted">创建时间</span>
          <strong>
            <rd-time-ago value="query.created_at"></rd-time-ago>
          </strong>
        </li>
      </ul>
      </p>
    </div>
    <div class="col-sm-3 text-right">
      <h3>
        <span ng-show="query.id && canViewSource">
            <a ng-show="!sourceMode"
              ng-href="{{query.getUrl(true, selectedTab)}}" class="btn btn-default">显示源码
            </a>
            <a ng-show="sourceMode"
              ng-href="{{query.getUrl(false, selectedTab)}}" class="btn btn-default">隐藏源码
            </a>
        </span>
      </h3>
    </div>
  </div>

  <!-- editor -->
  <div class="container">
      <div class="row bg-white p-b-5" ng-if="sourceMode" resizable r-directions="['bottom']" r-height="300" style="min-height:100px;">
        <schema-browser class="col-md-3 hidden-sm hidden-xs schema-container"
                        schema="schema"
                        on-refresh="refreshSchema()"
                        ng-show="hasSchema">
        </schema-browser>

        <div ng-class="editorSize" style="height:100%;">
            <div class="p-5">
              <button type="button" class="btn btn-primary btn-s" ng-disabled="queryExecuting || !canExecuteQuery()"
                      ng-click="executeQuery()">
                <span class="zmdi zmdi-play"></span> 执行
              </button>

              <button type="button" class="btn btn-default btn-s" ng-click="formatQuery()">
                <span class="zmdi zmdi-format-indent-increase"></span> 格式化
              </button>

              <i class="fa fa-database"></i>
              <span class="text-muted">数据源</span>
              <select ng-disabled="!isQueryOwner" ng-model="query.data_source_id" ng-change="updateDataSource()"
                      ng-options="ds.id as ds.name for ds in dataSources"></select>

              <div class="pull-right">
                <button class="btn btn-s btn-default" ng-click="togglePublished()" ng-if="query.is_draft && query.id != undefined && (isQueryOwner || currentUser.hasPermission('admin'))">
                  <span class="fa fa-paper-plane"></span> 发布
                </button>
                <button class="btn btn-s btn-default" ng-click="duplicateQuery()" ng-disabled="query.id === undefined">
                  <span class="zmdi zmdi-arrow-split"></span> 克隆
                </button>
                <button class="btn btn-default" ng-show="canEdit" ng-click="saveQuery()">
                  <span class="fa fa-floppy-o"> </span> 保存<span
                  ng-show="isDirty">&#42;</span>
                </button>
                <div class="btn-group" role="group" uib-dropdown>
                  <button class="btn btn-default btn-sm dropdown-toggle" uib-dropdown-toggle>
                    <span class="zmdi zmdi-more"></span>
                  </button>
                  <ul class="dropdown-menu pull-right" uib-dropdown-menu>
                    <li ng-if="!query.is_archived && query.id != undefined && (isQueryOwner || currentUser.hasPermission('admin'))"><a ng-click="archiveQuery()">归档</a></li>
                    <li ng-if="!query.is_archived && query.id != undefined && (isQueryOwner || currentUser.hasPermission('admin')) && showPermissionsControl"><a ng-click="showManagePermissionsModal()">管理权限</a></li>
                    <li ng-if="!query.is_draft && query.id != undefined && (isQueryOwner || currentUser.hasPermission('admin'))"><a ng-click="togglePublished()">取消发布</a></li>
                    <li ng-if="query.id != undefined"><a ng-click="showApiKey()">API Key</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <p style="height:calc(100% - 40px);">
              <query-editor query="query"
                            schema="schema"
                            syntax="dataSource.syntax"></query-editor>
            </p>
        </div>
      </div>
  </div>
  <!-- end of editor -->

  <!-- Query Details-->
  <div class="container m-b-5 p-t-5 bg-ace" ng-if="sourceMode">
  </div>
  <!-- End of Query Details-->

  <div class="tile">
    <div class="t-header bg-ace">
      <div class="pull-right">
        <button class="btn btn-sm btn-default" ng-click="executeQuery()"
                ng-disabled="queryExecuting || !canExecuteQuery()" title="Refresh Dataset"
                ng-if="!sourceMode"><span
          class="zmdi zmdi-refresh"></span></button>
        <div class="btn-group" uib-dropdown>
          <button type="button" class="btn btn-default btn-sm dropdown-toggle"
                  ng-disabled="queryExecuting || !queryResult.getData()" aria-haspopup="true"
                  uib-dropdown-toggle aria-expanded="false">
            下载数据 <span class="caret"></span>
          </button>
          <ul class="dropdown-menu pull-right" uib-dropdown-menu>
            <li>
              <a query-result-link target="_self">
                <span class="fa fa-file-o"></span> 下载为CSV文件
              </a>
            </li>
            <li>
              <a query-result-link file-type="xlsx" target="_self">
                <span class="fa fa-file-excel-o"></span> 下载为Excel文件
              </a>
            </li>
          </ul>
        </div>
      </div>
      <ul class="list-inline">
        <li>
          <!-- runtime -->
          <span class="zmdi zmdi-timer"></span>
          <span class="text-muted">运行时间 </span>
          <strong ng-show="!queryExecuting">{{queryResult.getRuntime() | durationHumanize}}</strong>
          <span ng-show="queryExecuting">运行中...</span>
        </li>
        <li>
          <!-- rows -->
          <span class="zmdi zmdi-format-align-justify"></span>
          <span class="text-muted">行数 </span><strong>{{queryResult.getData().length}}</strong>
        </li>
        <li>
          <!-- refresh schedule -->
          <span class="zmdi zmdi-refresh"></span>
          <span class="text-muted">刷新计划</span>
          <a ng-click="openScheduleForm()" ng-if="!query.isNew()">{{query.schedule | scheduleHumanize}}</a>
          <span ng-if="query.isNew()">从不</span>
        </li>
        <li>
          <!-- last update -->
          <span class="zmdi zmdi-time"></span>
          <span class="text-muted">上次更新 </span>
          <strong>
            <rd-time-ago value="queryResult.query_result.retrieved_at"></rd-time-ago>
          </strong>
        </li>
      </ul>

    </div>
    <div class="t-body">
      <div class="row">
        <div class="col-lg-12">
          <parameters parameters="query.getParametersDefs()" sync-values="!query.isNew()" editable="sourceMode && canEdit"></parameters>
          <!-- Query Execution Status -->
          <div class="alert alert-info" ng-show="queryResult.getStatus() == 'processing'">
            执行查询&hellip;
            <rd-timer timestamp="queryResult.getUpdatedAt()"></rd-timer>
            <button type="button" class="btn btn-warning btn-xs pull-right" ng-disabled="cancelling"
                    ng-click="cancelExecution()">取消
            </button>
          </div>
          <div class="alert alert-info" ng-show="queryResult.getStatus() == 'waiting'">
            查询队列&hellip;
            <rd-timer timestamp="queryResult.getUpdatedAt()"></rd-timer>
            <button type="button" class="btn btn-warning btn-xs pull-right" ng-disabled="cancelling"
                    ng-click="cancelExecution()">取消
            </button>
          </div>
          <div class="alert alert-danger" ng-show="queryResult.getError()">查询运行错误: <strong>{{queryResult.getError()}}</strong>
          </div>
          <!-- End of Query Execution Status -->

          <!-- tabs and data -->
          <div ng-if="showDataset">
            <div class="row p-10" ng-show="showLog">
              <div class="col-lg-12">
                <p>日志信息:</p>
                <p ng-repeat="l in queryResult.getLog()">{{l}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <ul class="tab-nav">
                  <rd-tab tab-id="table" name="表格" base-path="query.getUrl(sourceMode)"></rd-tab>
                  <rd-tab tab-id="{{vis.id}}" name="{{vis.name}}" ng-if="vis.type!='TABLE'" base-path="query.getUrl(sourceMode)"
                          ng-repeat="vis in query.visualizations">
                          <span class="remove" ng-click="deleteVisualization($event, vis)"
                                ng-show="canEdit"> &times;</span>
                  </rd-tab>
                  <li class="rd-tab"><a ng-click="openVisualizationEditor()" ng-if="sourceMode && canEdit">&plus; 添加</a></li>
                </ul>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div ng-show="selectedTab == 'table'">
                  <filters filters="filters"></filters>
                  <grid-renderer query-result="queryResult" items-per-page="50"></grid-renderer>
                  <!-- the ng-repeat is a lame hack to find the table visualization... -->
                  <div class="bg-ace p-5" ng-repeat="vis in query.visualizations" ng-if="vis.type == 'TABLE'">
                    <button class="btn btn-default" ng-if="!query.isNew()" ng-click="showEmbedDialog(query, vis)"><i class="zmdi zmdi-code"></i> 嵌入</button>
                  </div>
                </div>
                <div ng-if="selectedTab == vis.id" ng-repeat="vis in query.visualizations">
                  <visualization-renderer visualization="vis" query-result="queryResult"></visualization-renderer>
                  <div class="bg-ace p-5">
                    <button class="btn btn-default" ng-click="openVisualizationEditor(vis)" ng-if="canEdit">编辑</button>
                    <button class="btn btn-default" ng-click="showEmbedDialog(query, vis)"><i class="zmdi zmdi-code"></i> 嵌入</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
