<div>
  <ul class="tab-nav">
    <li ng-class="{active: currentTab == 'general'}"><a ng-click="currentTab='general'">常规</a></li>
    <li ng-class="{active: currentTab == 'groups'}"><a ng-click="currentTab='groups'">分组</a></li>
    <li ng-class="{active: currentTab == 'map'}"><a ng-click="currentTab='map'">地图设置</a></li>
  </ul>

  <div ng-show="currentTab == 'general'">
    <div class="form-group">
      <label class="control-label">纬度字段</label>
      <ui-select name="form-control" required ng-model="visualization.options.latColName">
        <ui-select-match placeholder="请选择字段">{{$select.selected}}</ui-select-match>
        <ui-select-choices repeat="column in columnNames | remove:visualization.options.classify | remove:visualization.options.lonColName">
          <span ng-bind-html="column | highlight: $select.search"></span><span> </span>
          <small class="text-muted" ng-bind="columns[column].type"></small>
        </ui-select-choices>
      </ui-select>
    </div>

    <div class="form-group">
      <label class="control-label">经度字段</label>
      <ui-select name="form-control" required ng-model="visualization.options.lonColName">
        <ui-select-match placeholder="请选择字段">{{$select.selected}}</ui-select-match>
        <ui-select-choices repeat="column in columnNames | remove:visualization.options.classify | remove:visualization.options.latColName">
          <span ng-bind-html="column | highlight: $select.search"></span><span> </span>
          <small class="text-muted" ng-bind="columns[column].type"></small>
        </ui-select-choices>
      </ui-select>
    </div>

    <div class="form-group">
      <label class="control-label">分组字段</label>
      <ui-select name="form-control" required ng-model="visualization.options.classify">
        <ui-select-match placeholder="请选择字段">{{$select.selected}}</ui-select-match>
        <ui-select-choices repeat="column in classify_columns | remove:visualization.options.lonColName | remove:visualization.options.latColName">
          <span ng-bind-html="column | highlight: $select.search"></span><span> </span>
          <small class="text-muted" ng-bind="columns[column].type"></small>
        </ui-select-choices>
      </ui-select>
    </div>
  </div>

  <div ng-show="currentTab == 'groups'">
    <table class="table table-condensed col-table">
      <thead>
      <th>名称</th>
      <th>颜色</th>
      </thead>
      <tbody>
      <tr ng-repeat="(name, options) in visualization.options.groups">
        <td>{{name}}</td>
        <td>
            <input class="form-control" type="color" ng-model="options.color"/>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div ng-show="currentTab == 'map'">
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="visualization.options.clusterMarkers">
        <i class="input-helper"></i> 簇标记
      </label>
    </div>

    <div class="form-group">
      <label class="control-label">高度 (px)</label>
      <input class="form-control" type="number" ng-model="visualization.options.height"/>
    </div>
    <div class="form-group">
      <label class="control-label">地方分布</label>
      <select ng-options="tile.url as tile.name for tile in mapTiles" ng-model="visualization.options.mapTileUrl"
              class="form-control"></select>
    </div>
  </div>

</div>
