<div class="form-horizontal">
  <div class="form-group">
    <label class="col-lg-6">计数器字段</label>
    <div class="col-lg-6">
      <select ng-options="name for name in queryResult.getColumnNames()" ng-model="visualization.options.counterColName" class="form-control" ng-disabled="visualization.options.countRow"></select>
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-6">计数器行数</label>
    <div class="col-lg-6">
      <input type="number" ng-model="visualization.options.rowNumber" min="1" class="form-control" ng-disabled="visualization.options.countRow">
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-6">目标字段</label>
    <div class="col-lg-6">
      <select ng-options="name for name in queryResult.getColumnNames()" ng-model="visualization.options.targetColName" class="form-control">
        <option value="">没有值</option>
      </select>
    </div>
  </div>
  <div class="form-group" ng-if="visualization.options.targetColName">
    <label class="col-lg-6">目标行数</label>
    <div class="col-lg-6">
      <input type="number" ng-model="visualization.options.targetRowNumber" min="1" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-6">
      <input type="checkbox" ng-model="visualization.options.countRow">
      <i class="input-helper"></i> 总行数
    </div>
  </div>
</div>
